/?*

# Whitelist
!/lib
!/lib/**
!/test/**
!/LICENSE.md
!/README.md
!/TODO
!/Makefile
!/unfuck-config
!/config.cson
!/keymap.cson
!/projects.cson
!/styles.less
!/.gitignore
!/.eslintrc.json

# Ignore every package directory EXCEPT for our custom syntax-theme
!/packages/
/packages/*
!/packages/Makefile
!/packages/biro-syntax
!/packages/file-icons-devtools
!/packages/injections
!/packages/language-not-mine
!/packages/patches

# Other shite
*.tmLanguage
*.yaml-tmLanguage
