/*

# Whitelist
!/lib
!/lib/**
!/test/**
!/LICENSE.md
!/README.md
!/TODO
!/Makefile
!/config.cson
!/keymap.cson
!/projects.cson
!/styles.less
!/.gitignore

# Ignore every package directory EXCEPT for our custom syntax-theme
!/packages/
/packages/*
!/packages/Makefile
!/packages/biro-syntax
!/packages/injections
!/packages/language-not-mine
!/packages/patches
