/*

# Whitelist
!/lib/**
!/styles/**
!/test/**
!/LICENSE.md
!/README.md
!/TODO
!/Makefile
!/config.cson
!/keymap.cson
!/projects.cson
!/snippets.cson
!/styles.less
!/init.js

# Ignore every package directory EXCEPT for our custom syntax-theme
!/packages/
/packages/*
!/packages/Makefile
!/packages/biro-syntax
