"*":
	"auto-detect-indentation":
		showSpacingInStatusBar: false
	core:
		customFileTypes:
			"source.ditroff.desc": [
				"/dev[-a-z0-9]+/[A-Z]+$"
				"/dev\\w+/(?!DESC|NOTES)[A-Z]+$"
			]
			"source.gfm": [
				"README"
				"TODO"
			]
			"source.perl.5": [
				"t"
			]
			"source.postscript": [
				"pdf"
			]
			"source.python": [
				"WATCHLISTS"
				"DEPS"
				"gclient"
				"gclient_entries"
			]
			"source.shell": [
				"profile"
			]
			"text.roff": [
				"mm"
			]
		disabledPackages: [
			"autocomplete-css"
			"autocomplete-plus"
			"background-tips"
			"github"
			"language-clojure"
			"language-java"
			"language-python"
			"welcome"
		]
		openEmptyEditorOnStart: false
		themes: [
			"atom-light-ui"
			"biro-syntax"
		]
	"dash-ui":
		iconsEnabled: false
		themeColor: "Indigo"
	editor:
		atomicSoftTabs: false
		autoIndentOnPaste: false
		fontFamily: "Menlig"
		fontSize: 11
		lineHeight: 1.3
		softTabs: false
		tabLength: 4
	"exception-reporting":
		userId: "4b2dfe3a-7eef-a871-4d35-230cb11366f8"
	"file-icons":
		coloured: false
		strategies: {}
	"find-and-replace":
		showSearchWrapIcon: false
	"language-applescript":
		autoCompile: false
	"markdown-preview":
		grammars: [
			"source.gfm"
			"text.html.basic"
			"text.md"
			"text.plain"
			"text.plain.null-grammar"
			"text.xml"
		]
		useGitHubStyle: true
	minimap:
		autoToggle: false
	"project-manager":
		savePathsRelativeToHome: true
	"seti-ui":
		compactView: true
		fileIcons: false
	"spell-check":
		grammars: [
			"source.asciidoc"
			"source.coffee"
			"source.gfm"
			"source.js"
			"source.makefile"
			"source.perl"
			"source.shell"
			"text.git-commit"
			"text.html.basic"
			"text.plain"
			"text.plain.null-grammar"
			"text.restructuredtext"
			"text.roff"
			"text.xml"
		]
	"status-bar":
		fullWidth: false
	tabs: {}
	"tree-view":
		hideIgnoredNames: true
	welcome:
		showOnStartup: false
	whitespace:
		removeTrailingWhitespace: false
".atom-mocha":
	editor:
		fontSize: 13
".coffee.source":
	editor:
		atomicSoftTabs: false
".css.source":
	editor:
		nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…"
".desc.ditroff.source":
	editor:
		tabLength: 16
".lisp.source":
	editor:
		softTabs: true
		tabLength: 2
".rust.source":
	editor:
		softTabs: false
