"*":
	"atom-github-syntax":
		matchFont: false
	"auto-detect-indentation":
		showSpacingInStatusBar: false
	core:
		customFileTypes:
			"source.c": [
				"share/misc/getopt"
			]
			"source.gitconfig": [
				"config.worktree"
			]
			"source.gnuplot": [
				"gnuplot_history"
				"gnuplotrc"
			]
			"source.json": [
				"carton.lock"
			]
			"source.makefile": [
				"make"
				"makefile"
				"mk.config"
				"mkfile"
			]
			"source.perl.5": [
				"t"
			]
			"source.python": [
				"WATCHLISTS"
				"DEPS"
				"gclient"
				"gclient_entries"
			]
			"source.shell": [
				"profile"
			]
			"source.yaml": [
				"clang-tidy"
				"gemrc"
				"glide.lock"
				"mir"
				"reek"
				"rviz"
				"syntax"
				"yaml-tmlanguage"
				"yaml.sed"
				"yarn.lock"
				"yml.mysql"
			]
			"text.plain": [
				"packages/injections/misc/latin-1"
				"mail.tildehelp"
				"COPYING"
				"LICENSE"
				"README"
				"TODO"
			]
			"text.roff": [
				"tmac.scover"
				"tmac.sdisp"
				"tmac.skeep"
				"tmac.s"
				"mm"
				"ms"
			]
			"text.xml": [
				"xmp"
			]
		disabledPackages: [
			"autocomplete-css"
			"autocomplete-plus"
			"background-tips"
			"exception-reporting"
			"github"
			"language-clojure"
			"language-make"
			"language-markdown"
			"language-python"
			"language-ruby-on-rails"
			"welcome"
		]
		openEmptyEditorOnStart: false
		packagesWithKeymapsDisabled: [
			"language-markdown"
			"advanced-open-file"
		]
		telemetryConsent: "no"
		themes: [
			"seti-ui"
			"seti-syntax"
		]
		useTreeSitterParsers: false
		versionPinnedPackages: [
			"minimap"
		]
	"dash-ui":
		iconsEnabled: false
		themeColor: "Indigo"
	editor:
		atomicSoftTabs: false
		autoIndentOnPaste: false
		fontFamily: "Menlig"
		lineHeight: 1.3
		maxScreenLineLength: 1500
		softTabs: false
		tabLength: 4
	"exception-reporting":
		userId: "4b2dfe3a-7eef-a871-4d35-230cb11366f8"
	"file-icons":
		strategies: {}
	"find-and-replace":
		showSearchWrapIcon: false
	"fuzzy-finder":
		scoringSystem: "fast"
		useRipGrep: true
	"language-applescript":
		autoCompile: false
	"language-markdown":
		addListItems: false
		autoIncrementListItems: false
		disableLanguageGfm: false
		emphasisShortcuts: false
		indentListItems: false
		linkShortcuts: false
		removeEmptyListItems: false
	"markdown-preview":
		grammars: [
			"source.gfm"
			"text.html.basic"
			"text.md"
			"text.plain"
			"text.plain.null-grammar"
			"text.xml"
		]
		useGitHubStyle: true
	minimap:
		autoToggle: false
	"project-manager":
		savePathsRelativeToHome: true
	"seti-ui":
		compactView: true
		fileIcons: false
	"spell-check":
		grammars: []
		noticesMode: "console"
	"status-bar":
		fullWidth: false
	tabs: {}
	"tree-view":
		hideIgnoredNames: true
	welcome:
		showOnStartup: false
	whitespace:
		removeTrailingWhitespace: false
".applescript.source":
	editor:
		commentEnd: " *)"
		commentStart: "(* "
".coffee.source":
	editor:
		decreaseIndentPattern: "^\\s*(\\}\\]?|\\]|\\b(else|catch|finally)\\b)$"
".css.source":
	editor:
		nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…"
".desc.ditroff.source":
	editor:
		tabLength: 16
".lisp.source":
	editor:
		softTabs: true
		tabLength: 2
".powershell.source":
	editor:
		nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".python.source":
	editor:
		softTabs: false
".rust.source":
	editor:
		softTabs: false
