"body":
	"alt-s":          "user:toggle-spellcheck"

	# Disable MRU-tab switching
	"ctrl-tab":       "pane:show-next-item"
	"ctrl-tab ^ctrl": "unset!"
	"ctrl-shift-tab": "pane:show-previous-item"
	"ctrl-shift-tab ^ctrl": "unset!"

"atom-workspace":
	"alt-o":          "file-icons:show-outlines"
	"ctrl-o":         "link:open"

"atom-text-editor":
	"f5":             "lines:sort-basic"
	"alt-up":         "editor:move-line-up"
	"alt-down":       "editor:move-line-down"
	"[":              "user:square-bracket"
	"{":              "user:curly-bracket"

"atom-text-editor[data-grammar='source js']":
	"enter":          "user:jsdoc-newline"


# Linux/Windows
"body:not(.platform-darwin)":
	"ctrl-i":         "window:toggle-dev-tools"
	"ctrl-\\":        "user:toggle-sidebar"
	"alt-ctrl-\\":    "tree-view:toggle"
	"shift-ctrl-o":   "application:open-dev"
	"shift-ctrl-r":   "window:reload"
	"shift-ctrl-b":   "user:toggle-bracket-matcher"
	"shift-ctrl-w":   "editor:toggle-soft-wrap"
	"alt-ctrl-r":     "window:run-package-specs"
	"ctrl-alt-w":     "window:toggle-invisibles"
	"ctrl-0":         "unset!"
	"ctrl-k up":      "unset!"
	"ctrl-k right":   "unset!"
	"ctrl-k left":    "unset!"
	"ctrl-k down":    "unset!"
	"ctrl-p":         "unset!"
	
# Swap CTRL and ALT keys for switching between tabs
"body:not(.platform-darwin),
 body:not(.platform-darwin) .tree-view":
	"alt-1":          "unset!"
	"alt-2":          "unset!"
	"alt-3":          "unset!"
	"alt-4":          "unset!"
	"alt-5":          "unset!"
	"alt-6":          "unset!"
	"alt-7":          "unset!"
	"alt-8":          "unset!"
	"alt-9":          "unset!"
	"ctrl-1":         "pane:show-item-1"
	"ctrl-2":         "pane:show-item-2"
	"ctrl-3":         "pane:show-item-3"
	"ctrl-4":         "pane:show-item-4"
	"ctrl-5":         "pane:show-item-5"
	"ctrl-6":         "pane:show-item-6"
	"ctrl-7":         "pane:show-item-7"
	"ctrl-8":         "pane:show-item-8"
	"ctrl-9":         "pane:show-item-9"

"body:not(.platform-darwin) atom-workspace,
 body:not(.platform-darwin) atom-text-editor:not([mini])":
	"shift-ctrl-c":   "file-icons:toggle-colours"
	"alt-ctrl-t":     "user:toggle-trendy-faggot-mode"
	"ctrl-p":         "user:temp-1"

"body:not(.platform-darwin) atom-text-editor":
	"ctrl-g":         "go-to-line:toggle"
	"ctrl-l":         "grammar-selector:show"
	"ctrl-[":         "git-diff:move-to-previous-diff"
	"ctrl-]":         "git-diff:move-to-next-diff"
	"ctrl-e":         "editor:expand-escapes"
	"ctrl-shift-u":   "editor:upper-case"
	"ctrl-u":         "editor:lower-case"
	"ctrl-d":         "editor:delete-line"
	"ctrl-alt-up":    "editor:duplicate-lines"
	"ctrl-w":         "editor:close-unprompted"
	"alt-u":          "lines:unique"
	"alt-a":          "user:align-columns"
	"alt-w":          "user:unfuck-tabstops"
	"ctrl-0":         "user:zoom-text"
	"shift-ctrl-e":   "user:specsaver"
	"ctrl-r":         "unset!"
	"ctrl-=":         "user:increment"
	"ctrl-+":         "user:increment"
	"ctrl--":         "user:decrement"
	"ctrl-_":         "user:decrement"

"body:not(.platform-darwin) atom-text-editor[data-grammar='source css']":
	"ctrl-p":         "user:eval-css"

"body:not(.platform-darwin) atom-text-editor[data-grammar='source emacs lisp']":
	"ctrl-p":         "language-emacs-lisp:run-selection"

"body:not(.platform-darwin) .find-and-replace,
 body:not(.platform-darwin) .project-find":
	"ctrl-r":         "find-and-replace:toggle-regex-option"
	"shift-ctrl-c":   "find-and-replace:toggle-case-option"


# macOS
"body.platform-darwin":
	"cmd-i":          "window:toggle-dev-tools"
	"cmd-\\":         "user:toggle-sidebar"
	"alt-cmd-\\":     "tree-view:toggle"
	"shift-cmd-o":    "application:open-dev"
	"shift-cmd-r":    "window:reload"
	"alt-shift-w":    "window:close"
	"shift-cmd-b":    "user:toggle-bracket-matcher"
	"ctrl-shift-r":   "window:run-package-specs"
	"shift-cmd-w":    "editor:toggle-soft-wrap"
	"cmd-alt-w":      "window:toggle-invisibles"
	"cmd-0":          "unset!"
	"cmd-k up":       "unset!"
	"cmd-k right":    "unset!"
	"cmd-k left":     "unset!"
	"cmd-k down":     "unset!"
	"cmd-p":          "unset!"
	"ctrl-alt-cmd-l": "unset!"

"body.platform-darwin atom-workspace":
	"shift-cmd-c":    "file-icons:toggle-colours"
	"alt-cmd-t":      "user:toggle-trendy-faggot-mode"
	"cmd-p":          "user:temp-1"

"body.platform-darwin atom-text-editor":
	"cmd-g":          "go-to-line:toggle"
	"cmd-l":          "grammar-selector:show"
	"cmd-[":          "git-diff:move-to-previous-diff"
	"cmd-]":          "git-diff:move-to-next-diff"
	"cmd-e":          "editor:expand-escapes"
	"cmd-shift-u":    "editor:upper-case"
	"cmd-u":          "editor:lower-case"
	"cmd-d":          "editor:delete-line"
	"cmd-alt-up":     "editor:duplicate-lines"
	"cmd-w":          "editor:close-unprompted"
	"ctrl-u":         "lines:unique"
	"ctrl-a":         "user:align-columns"
	"ctrl-w":         "user:unfuck-tabstops"
	"cmd-0":          "user:zoom-text"
	"shift-cmd-e":    "user:specsaver"
	"cmd-r":          "unset!"
	"cmd-=":          "user:increment"
	"cmd-+":          "user:increment"
	"cmd--":          "user:decrement"
	"cmd-_":          "user:decrement"

"body.platform-darwin atom-text-editor[data-grammar='source css']":
	"cmd-p":          "user:eval-css"

"body.platform-darwin atom-text-editor[data-grammar='source emacs lisp']":
	"cmd-p":          "language-emacs-lisp:run-selection"

"body.platform-darwin .find-and-replace,
 body.platform-darwin .project-find":
	"cmd-r":          "find-and-replace:toggle-regex-option"
	"shift-cmd-c":    "find-and-replace:toggle-case-option"

"body.platform-darwin .tree-view":
	"cmd-1":          "unset!"
	"cmd-2":          "unset!"
	"cmd-3":          "unset!"
	"cmd-4":          "unset!"
	"cmd-5":          "unset!"
	"cmd-6":          "unset!"
	"cmd-7":          "unset!"
	"cmd-8":          "unset!"
	"cmd-9":          "unset!"
