"body":
	"alt-s":          "user:toggle-spellcheck"

	# Disable MRU-tab switching
	"ctrl-tab":       "pane:show-next-item"
	"ctrl-tab ^ctrl": "unset!"
	"ctrl-shift-tab": "pane:show-previous-item"
	"ctrl-shift-tab ^ctrl": "unset!"

"atom-workspace":
	"alt-o":          "file-icons:show-outlines"
	"ctrl-o":         "link:open"

"atom-text-editor":
	"f5":             "lines:sort-basic"
	"alt-up":         "editor:move-line-up"
	"alt-down":       "editor:move-line-down"
	"`":              "user:backtick"
	'"':              "user:double-quote"

"atom-text-editor:not([mini])":
	"tab":            "editor:expand"

"atom-text-editor:not([data-grammar='text roff'])":
	"'":              "user:single-quote"
	"[":              "user:square-bracket"
	"{":              "user:curly-bracket"

"atom-text-editor[data-grammar='source js'],
 atom-text-editor[data-grammar='source ts'],
 atom-text-editor[data-grammar='source tsx']":
	"enter":          "user:jsdoc-newline"

".tree-view":
	"i":              "tree-view:toggle-ignored-files"

"body.yn-mode atom-text-editor:not([mini])":
	"y":              "yn-mode:yeah"
	"n":              "yn-mode:nah"


# Linux/Windows
"body:not(.platform-darwin)":
	"ctrl-i":         "window:toggle-dev-tools"
	"ctrl-y":         "user:toggle-github-syntax"
	"ctrl-\\":        "user:toggle-sidebar"
	"alt-l":          "user:toggle-ligatures"
	"alt-ctrl-\\":    "tree-view:toggle"
	"alt-ctrl-o":     "application:add-project-folder"
	"shift-ctrl-o":   "application:open-in-new-window"
	"shift-ctrl-y":   "user:toggle-night-mode"
	"shift-ctrl-r":   "window:reload"
	"shift-ctrl-b":   "user:toggle-bracket-matcher"
	"shift-ctrl-w":   "tabs:close-all-tabs"
	"alt-ctrl-r":     "window:run-package-specs"
	"ctrl-alt-w":     "window:toggle-invisibles"
	"ctrl-alt-p":     "project-manager:list-projects"
	"ctrl-p":         "command-palette:toggle"
	"ctrl-0":         "unset!"
	"ctrl-k up":      "unset!"
	"ctrl-k right":   "unset!"
	"ctrl-k left":    "unset!"
	"ctrl-k down":    "unset!"
	"shift-ctrl-p":   "unset!"
	
# Swap CTRL and ALT keys for switching between tabs
"body:not(.platform-darwin),
 body:not(.platform-darwin) .tree-view":
	"alt-1":          "unset!"
	"alt-2":          "unset!"
	"alt-3":          "unset!"
	"alt-4":          "unset!"
	"alt-5":          "unset!"
	"alt-6":          "unset!"
	"alt-7":          "unset!"
	"alt-8":          "unset!"
	"alt-9":          "unset!"
	"ctrl-1":         "user:select-item-1"
	"ctrl-2":         "user:select-item-2"
	"ctrl-3":         "user:select-item-3"
	"ctrl-4":         "user:select-item-4"
	"ctrl-5":         "user:select-item-5"
	"ctrl-6":         "user:select-item-6"
	"ctrl-7":         "user:select-item-7"
	"ctrl-8":         "user:select-item-8"
	"ctrl-9":         "user:select-item-9"

"body:not(.platform-darwin) atom-workspace,
 body:not(.platform-darwin) atom-text-editor:not([mini])":
	"shift-ctrl-c":   "file-icons:toggle-colours"
	"alt-ctrl-t":     "user:toggle-night-mode"
	"alt-p":          "editor:log-cursor-scope"

"body:not(.platform-darwin) atom-text-editor":
	"ctrl-g":         "go-to-line:toggle"
	"ctrl-l":         "grammar-selector:show"
	"ctrl-[":         "git-diff:move-to-previous-diff"
	"ctrl-]":         "git-diff:move-to-next-diff"
	"ctrl-shift-u":   "editor:upper-case"
	"ctrl-u":         "editor:lower-case"
	"ctrl-d":         "editor:delete-line"
	"ctrl-alt-up":    "editor:duplicate-lines"
	"ctrl-w":         "editor:close-unprompted"
	"alt-u":          "lines:unique"
	"alt-a":          "user:align-columns"
	"alt-w":          "user:unfuck-tabstops"
	"ctrl-0":         "user:zoom-text"
	"shift-ctrl-e":   "user:update-snapshots"
	"ctrl-c":         "user:copy"
	"ctrl-x":         "user:cut"
	"ctrl-r":         "unset!"
	"ctrl-=":         "user:increment"
	"ctrl-+":         "user:increment"
	"ctrl--":         "user:decrement"
	"ctrl-_":         "user:decrement"

"body:not(.platform-darwin) atom-text-editor:not([mini])":
	"ctrl-r":         "symbols-view:toggle-file-symbols"

"body:not(.platform-darwin) .pdf-view":
	"ctrl-b":         "pdf-view:toggle-binary-view"

"body:not(.platform-darwin) .find-and-replace":
	"ctrl-r":         "find-and-replace:toggle-regex-option"
	"ctrl-i":         "find-and-replace:toggle-case-option"
	"ctrl-alt-s":     "unset!"
	"ctrl-alt-w":     "unset!"

"body:not(.platform-darwin) .project-find":
	"ctrl-r":         "project-find:toggle-regex-option"
	"ctrl-i":         "project-find:toggle-case-option"
	"ctrl-alt-w":     "unset!"


# macOS
"body.platform-darwin":
	"alt-1":          "user:shell"
	"cmd-i":          "window:toggle-dev-tools"
	"cmd-y":          "user:toggle-github-syntax"
	"cmd-\\":         "user:toggle-sidebar"
	"ctrl-l":         "user:toggle-ligatures"
	"alt-cmd-\\":     "tree-view:toggle"
	"alt-cmd-o":      "application:add-project-folder"
	"shift-cmd-o":    "application:open-in-new-window"
	"shift-cmd-y":    "user:toggle-night-mode"
	"shift-cmd-r":    "window:reload"
	"alt-shift-w":    "window:close"
	"shift-cmd-b":    "user:toggle-bracket-matcher"
	"ctrl-shift-r":   "window:run-package-specs"
	"shift-cmd-w":    "tabs:close-all-tabs"
	"cmd-alt-w":      "window:toggle-invisibles"
	"cmd-p":          "command-palette:toggle"
	"cmd-0":          "unset!"
	"cmd-k up":       "unset!"
	"cmd-k right":    "unset!"
	"cmd-k left":     "unset!"
	"cmd-k down":     "unset!"
	"shift-cmd-p":    "unset!"
	"ctrl-alt-cmd-l": "unset!"

"body.platform-darwin atom-workspace":
	"shift-cmd-c":    "file-icons:toggle-colours"
	"alt-cmd-t":      "user:toggle-night-mode"

"body.platform-darwin atom-text-editor":
	"alt-w":          "editor:toggle-soft-wrap"
	"cmd-g":          "go-to-line:toggle"
	"cmd-l":          "grammar-selector:show"
	"cmd-[":          "git-diff:move-to-previous-diff"
	"cmd-]":          "git-diff:move-to-next-diff"
	"cmd-shift-u":    "editor:upper-case"
	"cmd-u":          "editor:lower-case"
	"cmd-d":          "editor:delete-line"
	"cmd-alt-up":     "editor:duplicate-lines"
	"cmd-w":          "editor:close-unprompted"
	"ctrl-u":         "lines:unique"
	"ctrl-a":         "user:align-columns"
	"ctrl-w":         "user:unfuck-tabstops"
	"cmd-0":          "user:zoom-text"
	"shift-cmd-e":    "user:update-snapshots"
	"cmd-c":          "user:copy"
	"cmd-x":          "user:cut"
	"cmd-r":          "unset!"
	"cmd-=":          "user:increment"
	"cmd--":          "user:decrement"
	"cmd-_":          "user:decrement"
	"cmd-+":          "editor:insert-sequence"

"body.platform-darwin atom-text-editor:not([mini])":
	"cmd-r":          "symbols-view:toggle-file-symbols"

"body.platform-darwin .pdf-view":
	"cmd-b":          "pdf-view:toggle-binary-view"

"body.platform-darwin .find-and-replace":
	"cmd-r":          "find-and-replace:toggle-regex-option"
	"cmd-i":          "find-and-replace:toggle-case-option"
	"cmd-alt-s":      "unset!"
	"cmd-alt-w":      "unset!"

"body.platform-darwin .project-find":
	"cmd-r":          "project-find:toggle-regex-option"
	"cmd-i":          "project-find:toggle-case-option"
	"cmd-alt-w":      "unset!"

"body.platform-darwin .tree-view":
	"cmd-1":          "user:select-item-1"
	"cmd-2":          "user:select-item-2"
	"cmd-3":          "user:select-item-3"
	"cmd-4":          "user:select-item-4"
	"cmd-5":          "user:select-item-5"
	"cmd-6":          "user:select-item-6"
	"cmd-7":          "user:select-item-7"
	"cmd-8":          "user:select-item-8"
	"cmd-9":          "user:select-item-9"
