"body, .platform-darwin":
	"cmd-i":          "window:toggle-dev-tools" # TODO: Wrap inside `user:cmd-i` command
	"cmd-\\":         "user:toggle-sidebar"
	"alt-s":          "user:toggle-spellcheck"
	"alt-cmd-\\":     "tree-view:toggle"
	"shift-cmd-O":    "application:open-dev"
	"shift-cmd-R":    "window:reload"
	"alt-shift-W":    "window:close"
	"ctrl-shift-R":   "window:run-package-specs"
	"shift-cmd-B":    "user:toggle-bracket-matcher"
	"cmd-alt-w":      "window:toggle-invisibles"
	"shift-cmd-W":    "editor:toggle-soft-wrap"
	"cmd-0":          "unset!"
	"cmd-k up":       "unset!"
	"cmd-k right":    "unset!"
	"cmd-k left":     "unset!"
	"cmd-k down":     "unset!"
	"cmd-p":          "unset!"
	"ctrl-alt-cmd-l": "unset!"
	
	# Disable MRU-tab switching
	"ctrl-tab":       "pane:show-next-item"
	"ctrl-tab ^ctrl": "unset!"
	"ctrl-shift-tab": "pane:show-previous-item"
	"ctrl-shift-tab ^ctrl": "unset!"

"atom-workspace":
	"alt-o":          "file-icons:show-outlines"
	"shift-cmd-c":    "file-icons:toggle-colours"
	"alt-cmd-t":      "user:toggle-trendy-faggot-mode"
	"ctrl-o":         "link:open"
	"cmd-p":          "user:temp-1"

"atom-text-editor":
	"f5":             "lines:sort-basic"
	"ctrl-u":         "lines:unique"
	"cmd-g":          "go-to-line:toggle"
	"cmd-l":          "grammar-selector:show"
	"cmd-[":          "git-diff:move-to-previous-diff"
	"cmd-]":          "git-diff:move-to-next-diff"
	"cmd-e":          "editor:expand-escapes"
	"cmd-shift-U":    "editor:upper-case"
	"cmd-u":          "editor:lower-case"
	"cmd-d":          "editor:delete-line"
	"alt-up":         "editor:move-line-up"
	"alt-down":       "editor:move-line-down"
	"cmd-alt-up":     "editor:duplicate-lines"
	"cmd-w":          "editor:close-unprompted"
	"ctrl-a":         "user:align-columns"
	"ctrl-w":         "user:unfuck-tabstops"
	"ctrl-1":         "user:1-column-tabstops"
	"ctrl-2":         "user:2-column-tabstops"
	"ctrl-3":         "user:3-column-tabstops"
	"ctrl-4":         "user:4-column-tabstops"
	"ctrl-5":         "user:5-column-tabstops"
	"ctrl-6":         "user:6-column-tabstops"
	"ctrl-7":         "user:7-column-tabstops"
	"ctrl-8":         "user:8-column-tabstops"
	"ctrl-9":         "user:9-column-tabstops"
	"ctrl-0":         "user:10-column-tabstops"
	# "cmd-;":        null # Marked vacant to remind
	# "cmd-'":        null # self they're available.
	"cmd-0":          "user:zoom-text"
	"shift-cmd-e":    "user:specsaver"
	"[":              "user:square-bracket"
	"{":              "user:curly-bracket"
	"cmd-r":          "unset!"
	"cmd-=":          "user:increment"
	"cmd-+":          "user:increment"
	"cmd--":          "user:decrement"
	"cmd-_":          "user:decrement"

"atom-text-editor[data-grammar='source js']":
	"enter":          "user:jsdoc-newline"

"atom-text-editor[data-grammar='source css']":
	"cmd-p":          "user:eval-css"

"atom-text-editor[data-grammar='source emacs lisp']":
	"cmd-p":          "language-emacs-lisp:run-selection"

".find-and-replace, .project-find":
	"cmd-r":          "find-and-replace:toggle-regex-option"
	"shift-cmd-c":    "find-and-replace:toggle-case-option"

".tree-view":
	"cmd-1":          "unset!"
	"cmd-2":          "unset!"
	"cmd-3":          "unset!"
	"cmd-4":          "unset!"
	"cmd-5":          "unset!"
	"cmd-6":          "unset!"
	"cmd-7":          "unset!"
	"cmd-8":          "unset!"
	"cmd-9":          "unset!"
