[
	{
		title: ".{files,atom,emacs.d}"
		paths: [
			"~/.files"
			"~/.atom"
			"~/.emacs.d"
		]
		icon: "terminal-icon"
	}
	{
		title: "Utils"
		paths: [
			"~/Labs/Utils"
			"~/Labs/JG"
			"~/Labs/EAL"
		]
		icon: "icon-tools"
	}
	{
		title: "language-roff"
		paths: [
			"~/Labs/language-roff"
			"~/Labs/Roff.js"
		]
		icon: "manpage-icon"
	}
	{
		title: "Grammars, etc"
		paths: [
			"~/Labs/language-etc"
			"~/.atom/packages/language-grammars"
			"~/Labs/language-regexp"
			"~/.atom/packages/language-fontforge"
			"~/.atom/packages/language-viml"
		]
		icon: "icon-github"
	}
	{
		title: "file-icons"
		paths: [
			"~/Labs/file-icons/atom"
			"~/Labs/file-icons/compiler"
			"~/Labs/file-icons/icons"
			"~/Labs/file-icons/vscode"
			"~/Labs/file-icons/atom-fs"
		]
		icon: "atom-icon"
	}
	{
		title: "Mono"
		paths: [
			"~/Labs/Mono"
			"~/Labs/V8.man"
			"~/Forks/GNU-Groff"
			"/usr/local/share/groff"
			"~/Forks/DWB3.3"
		]
		icon: "manpage-icon"
	}
	{
		title: "YASR"
		paths: [
			"~/Labs/YASR"
		]
		icon: "emacs-icon"
	}
	{
		title: "Homebrew Troff"
		paths: [
			"~/Labs/homebrew-troff"
			"/usr/local/Homebrew"
			"~/Forks/heirloom-doctools"
			"~/Forks/neatroff_make"
		]
		icon: "icon-ruby"
		color: "#ff0000"
	}
	{
		title: "atom-live-view"
		paths: [
			"~/Labs/Atom-LiveView"
			"~/Labs/Atom-PostScriptPreview"
		]
		icon: "icon-atom"
	}
	{
		title: "Postage"
		paths: [
			"~/Labs/Stupid-Post-Tricks"
			"~/Labs/Inspect.ps"
			"~/Labs/Atom-PostScript"
			"~/Forks/GhostScript"
			"~/Forks/postscriptbarcode"
			"/usr/local/share/ghostscript/9.53.3/Resource/Init"
		]
		icon: "postscript-icon"
		color: "#da291c"
	}
	{
		title: "Vim / Vi"
		paths: [
			"~/Forks/nvi"
			"~/Forks/OpenBSD/usr.bin/vi"
			"~/Forks/Vim"
		]
		icon: "vim-icon"
		color: "#019833"
	}
]
