[
	{
		title: ".{files,atom,emacs.d}"
		paths: [
			"~/.files"
			"~/.atom"
			"~/.emacs.d"
			"~/Labs/YASR"
			"~/Labs/Atom-GitHubSyntax"
		]
		icon: "terminal-icon"
	}
	{
		title: "Utils"
		paths: [
			"~/Labs/Utils"
			"~/Labs/JG"
			"~/Labs/EAL"
			"~/Labs/Print"
			"~/Labs/Synapse"
			"~/Labs/Sandbox"
			"~/Labs/Geom.js"
		]
		icon: "icon-tools"
	}
	{
		title: "language-roff"
		paths: [
			"~/Labs/language-roff"
			"~/Labs/Roff.js"
			"~/Forks/sprite"
		]
		icon: "manpage-icon"
	}
	{
		title: "Grammars, etc"
		paths: [
			"~/.atom/packages/language-etc"
			"~/.atom/packages/language-dsv"
			"~/.atom/packages/language-grammars"
			"~/.atom/packages/language-regexp"
			"~/.atom/packages/language-roff"
			"~/.atom/packages/language-emacs-lisp"
			"~/.atom/packages/language-file-magic"
			"~/.atom/packages/language-fontforge"
			"~/.atom/packages/language-mermaid"
			"~/.atom/packages/language-pcb"
			"~/.atom/packages/language-rfc"
			"~/.atom/packages/language-subtitles"
			"~/.atom/packages/language-viml"
			"~/.atom/packages/language-webassembly"
			"~/.atom/packages/language-texinfo"
			"~/.atom/packages/language-x11"
		]
		icon: "bnf-icon"
	}
	{
		title: "file-icons"
		paths: [
			"~/Labs/file-icons/atom"
			"~/Labs/file-icons/compiler"
			"~/Labs/file-icons/icons"
			"~/Labs/file-icons/vscode"
			"~/Labs/file-icons/atom-fs"
			"~/Labs/file-icons/DevOpicons"
			"~/Labs/file-icons/MFixx"
		]
		icon: "atom-icon"
		color: "#40a977"
	}
	{
		title: "Mono"
		paths: [
			"~/Labs/Mono"
			"~/Labs/V8.man"
			"~/Forks/GNU-Groff"
			"/usr/local/share/groff"
			"~/Forks/DWB3.3"
		]
		icon: "manpage-icon"
	}
	{
		title: "Homebrew tap(s)"
		paths: [
			"~/Labs/homebrew-troff"
			"/usr/local/Homebrew"
		]
		icon: "icon-ruby"
		color: "#ff0000"
	}
	{
		title: "Postage"
		paths: [
			"~/Labs/Stupid-Post-Tricks"
			"~/Labs/Inspect.ps"
			"~/Labs/PDFMarker"
			"~/Labs/Atom-PostScript"
			"~/Forks/GhostScript"
			"~/Forks/postscriptbarcode"
		]
		icon: "postscript-icon"
		color: "#da291c"
	}
	{
		title: "Atom CI"
		paths: [
			"~/Labs/Atom-CI"
			"~/Labs/Atom-Mocha"
		]
		icon: "atom-icon"
		color: "#40a977"
	}
	{
		title: "V8"
		paths: [
			"~/Labs/V8.man"
			"~/Forks/v8"
		]
		icon: "v8-icon"
		color: "#4285f4"
	}
	{
		title: "GitHub Linguist"
		paths: [
			"~/Forks/GitHub-Linguist"
		]
		icon: "github-icon"
	}
	{
		title: "reStructuredText"
		paths: [
			"~/Labs/language-restructuredtext"
			"~/Forks/docutils"
			"~/Forks/Sphinx"
			"~/Labs/Sandbox"
			"~/Forks/SIMH/simh"
		]
		icon: "rst-icon"
		color: "#46788d"
	}
	{
		title: "Apache/HTTPD configuration"
		paths: [
			"/private/etc/apache2/httpd.conf"
			"/private/etc/apache2/extra/httpd-vhosts.conf"
			"/private/etc/apache2/users/Alhadis.conf"
		]
		icon: "icon-issue-opened"
		color: "#f00"
	}
	{
		title: "Music-related stuff"
		paths: [
			"~/Labs/Record-Collection"
			"~/Labs/MusicDB"
		]
		icon: "music-icon"
		color: "#f0a"
	}
]
