[
	{
		title: ".atom"
		paths: [
			"~/.atom"
		]
		icon: "atom-icon"
		devMode: true
	}
	{
		title: ".files"
		paths: [
			"~/.files"
		]
		icon: "terminal-icon"
		devMode: true
	}
	{
		title: "language-roff"
		paths: [
			"~/Labs/language-roff"
			"~/Labs/Roff.js"
		]
		icon: "manpage-icon"
		devMode: true
	}
	{
		title: "file-icons"
		paths: [
			"~/Labs/file-icons/atom"
			"~/Labs/file-icons/icons"
		]
		icon: "atom-icon"
		devMode: true
	}
	{
		title: "Utils"
		paths: [
			"~/Labs/Utils"
			"~/Labs/JG"
			"~/Labs/EAL"
		]
		icon: "icon-tools"
		devMode: true
	}
	{
		title: "YASR"
		paths: [
			"~/Labs/YASR"
		]
		icon: "emacs-icon"
		devMode: true
	}
	{
		title: "Homebrew Troff"
		paths: [
			"~/Labs/homebrew-troff"
			"~/Forks/heirloom-doctools"
			"/usr/local/Homebrew/Library/Taps/homebrew/homebrew-core"
		]
		icon: "icon-ruby"
		color: "#ff0000"
		devMode: true
	}
	{
		title: "atom-live-view"
		paths: [
			"~/Labs/Atom-LiveView"
			"~/Labs/Atom-PostScriptPreview"
		]
		icon: "icon-atom"
		devMode: true
	}
]
