[
	{
		title: "@Atom Theme"
		paths: [
			"/Users/johngardner/Labs/Atom-PhoenixTheme"
		]
		devMode: true
	}
	{
		title: ".files"
		paths: [
			"/Users/johngardner/.files"
		]
		devMode: true
	}
	{
		title: "language-roff"
		paths: [
			"/Users/johngardner/Labs/language-roff"
		]
		devMode: true
	}
	{
		title: "file-icons"
		paths: [
			"/Users/johngardner/Labs/file-icons"
		]
		devMode: true
	}
	{
		title: "Atom-FS"
		paths: [
			"/Users/johngardner/Labs/Atom-FS"
		]
		devMode: true
	}
	{
		title: "Utils"
		paths: [
			"/Users/johngardner/Labs/Utils"
		]
		devMode: true
	}
]
