"*":
  "atom-material-ui":
    fonts: {}
    tabs: {}
    ui: {}
  "auto-detect-indentation":
    showSpacingInStatusBar: false
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.python": [
        "WATCHLISTS"
        "DEPS"
        "gclient"
        "gclient_entries"
      ]
      "source.turing": [
        "t"
      ]
      "text.generic-config": [
        "mocha.opts"
      ]
      "text.roff": [
        "mm"
      ]
    disabledPackages: [
      "spell-check"
      "autocomplete-css"
      "background-tips"
      "welcome"
      "language-java"
      "language-python"
      "nuclide"
      "autocomplete-plus"
      "atom-hg"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-light-ui"
      "Phoenix-Syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlig"
    fontSize: 11
    invisibles: {}
    lineHeight: 1.3
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "4b2dfe3a-7eef-a871-4d35-230cb11366f8"
  "file-icons":
    coloured: false
    strategies: {}
  "find-and-replace":
    showSearchWrapIcon: false
  "grammar-selector": {}
  "language-applescript":
    autoCompile: false
  "language-regexp": {}
  "lisp-paredit": {}
  "markdown-preview":
    grammars: [
      "text.xml"
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
    useGitHubStyle: true
  minimap:
    autoToggle: false
  "seti-ui":
    compactView: true
    fileIcons: false
  "status-bar":
    fullWidth: false
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".atom-mocha":
  editor:
    fontSize: 13
