"*":
  "SFTP-deployment": {}
  "asciidoc-preview": {}
  "atom-beautify":
    _analyticsUserId: "84a7da30-e058-42d8-9fd2-cc0519eb2781"
  "atom-material-ui":
    fonts: {}
    tabs: {}
    ui: {}
  "auto-detect-indentation":
    showSpacingInStatusBar: false
  "autoclose-html": {}
  "autocomplete-plus": {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "SFTP-deployment"
      "spell-check"
      "autocomplete-css"
      "autocomplete-plus"
      "compare-files"
      "merge-conflicts"
      "atom-compare-files"
      "background-tips"
      "welcome"
      "language-java"
      "git-time-machine"
    ]
    themes: [
      "atom-light-ui"
      "Phoenix-Syntax"
    ]
  docblockr: {}
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    fontSize: 11
    invisibles: {}
    lineHeight: 1.3
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "4b2dfe3a-7eef-a871-4d35-230cb11366f8"
  "file-icons":
    coloured: false
  "find-and-replace":
    showSearchWrapIcon: false
  hex: {}
  popupDismissDelay: 700
  "recent-files":
    updated: false
  "remote-edit": {}
  "remote-sync": {}
  "saved-bookmark":
    cursor:
      column: 24
      row: 678
    scroll: 9264
  "spell-check": {}
  "status-bar": {}
  tabs: {}
  "toggle-quotes": {}
  "tree-view":
    hideIgnoredNames: true
    openFilesWithSingleClick: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
