"*":
  editor:
    tabLength: 4
    fontFamily: "Menlo"
    softTabs: false
    autoIndentOnPaste: false
    invisibles: {}
    lineHeight: 1.3
    fontSize: 11
  core:
    themes: [
      "atom-light-ui"
      "phoenix-syntax"
    ]
    disabledPackages: [
      "snippets"
      "SFTP-deployment"
      "spell-check"
      "autocomplete-css"
      "autocomplete-plus"
      "compare-files"
      "merge-conflicts"
      "atom-compare-files"
      "background-tips"
      "welcome"
    ]
  "exception-reporting":
    userId: "4b2dfe3a-7eef-a871-4d35-230cb11366f8"
  welcome:
    showOnStartup: false
  "tree-view":
    hideVcsIgnoredFiles: false
    hideIgnoredNames: true
  whitespace:
    removeTrailingWhitespace: false
  "asciidoc-preview": {}
  "autoclose-html": {}
  "SFTP-deployment": {}
  "remote-sync": {}
  "remote-edit": {}
  "file-icons":
    coloured: false
  "recent-files":
    updated: false
  "spell-check": {}
  "autocomplete-plus": {}
  "atom-beautify":
    _analyticsUserId: "84a7da30-e058-42d8-9fd2-cc0519eb2781"
  "status-bar": {}
  hex: {}
  docblockr: {}
