@import "syntax-variables";

atom-text-editor, :host{
	background-color:   @syntax-background-color;
	color:              @syntax-text-color;

	.wrap-guide             { background-color: @syntax-wrap-guide-color;           }
	.indent-guide           { color:            @syntax-indent-guide-color;         }
	.invisible-character    { color:            @syntax-invisible-character-color;  }

	.gutter{
		background-color:   @syntax-gutter-background-color;
		color:              @syntax-gutter-text-color;

		.line-number{
			&.cursor-line{
				background-color:   @syntax-gutter-background-color-selected;
				color:              @syntax-gutter-text-color-selected;
			}

			&.cursor-line-no-selection{
				color: @syntax-gutter-text-color-selected;
			}
		}
	}

	.gutter .line-number.folded,
	.gutter .line-number:after,
	.fold-marker:after  { color: @light-gray;                         }
	.invisible          { color: @syntax-text-color;                  }
	.cursor             { color: @syntax-cursor-color;                }
	.selection .region  { background-color: @syntax-selection-color;  }
}


/** Search markers */
atom-text-editor    .search-results .marker .region,
:host               .search-results .marker .region{
	background-color: transparent;
	border: 1px solid #969896;
}

atom-text-editor    .search-results .marker.current-result .region,
:host               .search-results .marker.current-result .region{
	border: 1px solid #fff;
}


/** Code highlighting */
.comment, .comment-ish      { color: #009a00;             }
.regexp, .regexp *          { color: #009a00 !important;  }
.entity.name.type           { color: #003a9e;             }
.underline, .link           { text-decoration: underline; }


/** Generic function/keyword highlighting */
.source{
	&:not(.js):not(.apl):not(.c):not(.turing){
		
		.support{  color: #00a; }
		.function{ color: #00c; }
		.keyword{  color: #00c; }
	}
}

.keyword{
	&.other.special-method  { color: @blue;   }
	&.other.important       { color: #ee000b; }
	&.js,   .js  > &        { color: #00c;    }
	&.php,  .php > &        { color: #009714; }
	&.operator              { color: #0035ff; }
}


.storage:not(.apl){
	color: #00c;
	
	&.php, .php &{
		color: #009714;

		&.function, &.type{
			color: #24bf96;
		}
	}
}


.constant{
	&.other.color   { color: #0035ff;   }
	&.other.symbol  { color: @green;    }
	&.null          { color: #00c;      }
	&.boolean       { color: #00c;      }
	&.js.other      { color: #00c;      }
	.js > &.numeric { color: #369;      }
	.php, &.php     { color: #009714;   }
}


.variable,
.constant{
	color: #00c;
	&.interpolation         { color: darken(@red, 10%);   }
	&.parameter.function    { color: @syntax-text-color;  }
	&.php                   { color: #000;                }
	&.php.global,
	&.php.global > *        { color: #0092f2 !important;  }
}


.invalid{
	
	&.illegal{
		background-color: @red;
		color: @syntax-background-color !important;
	}
	
	&.deprecated{
		color: @red !important;
	}
	
	&.yaml.whitespace{
		background-color: inherit !important;
	}
}


.string:not(.shell){
	color: #001eff;

	&.js:not(.html), .js &:not(.html)   { color: #f39; }
	&.other.link                        { color: @red; }
}


.punctuation{

	&.definition{
		&.comment                           { color: #009a00;               }
		&.variable, &.parameters, &.array   { color: @syntax-text-color;    }
		&.heading,  &.identity              { color: @blue;                 }
		&.bold{
			color: @light-orange;
			font-weight: bold;
		}

		&.italic{
			color: @purple;
			font-style: italic;
		}
		
		&.html.tag{
			color: #00359e;
		}
	}

	&.section.embedded{
		color: #f00 !important;
		font-weight: bold;
	}
}


.support{
	&.class,
	&.namespace{
		color: #00c;
	}

	&.css.function, .css &.function{
		color: #da29ff;

		&.any-method{
			color: @blue;
		}
	}


	&.php.function, .php &.function{
		color: #0035ff;

		&.construct{
			color: #009714;
		}
	}
}


.entity{
	&.name.section                              { color: @blue;    }
	&.name.tag,     &.other.attribute-name      { color: #00359e;  }
	&.css.other,    &.css.other .attribute-name { color: #da29ff;  }
}


.meta{
	&.class                             { color: #003a9e; }
	&.link                              { color: @orange; }
	&.require                           { color: @blue;   }
	&.selector, &.selector > .entity    { color: #da29ff; }
	&.tag .punctuation:not(.php)        { color: #00359e; }

	&.separator{
		color: @syntax-text-color;
	}

	&.css{
		&.property-name         { color: #05208c; }
		&.property-value        { color: #0035ff; }
		&.property-list .end,
		&.property-list .begin,
		.function.section       { color: #da29ff; }
		.string, .string > *    { color: #106800 !important; }
		&.comment, & .comment   { color: #009a00 !important; }
	}

	/** Doctypes */
	&.sgml,
	&.sgml .punctuation{
		color: #c0c0c0 !important;
	}

	/** PHP string literals */
	&.php .string:not(.function){
		color: #e20000;
	}
}


/** JavaScript */
.js{
	&.punctuation.definition.parameters{
		&.begin, &.end{
			color: #00a;
		}
	}
	
	&.meta.function-call > .support.function.js{
		color: #00c;
	}
}


/** CSS media queries */
.media{
	color: #430303;

	> .support.property-name { color: #05208c; }
	> .numeric.constant      { color: #0035ff; }
}

.none{
	color: @syntax-text-color;
}


.markup{
	&.bold       { color: @orange;  font-weight: bold;   }
	&.changed    { color: @purple;                       }
	&.deleted    { color: @red;                          }
	&.italic     { color: @purple;  font-style: italic;  }

	&.heading .punctuation.definition.heading{
		color: @blue;
	}

	&.inserted   { color: @green;   }
	&.list       { color: @red;     }
	&.quote      { color: @orange;  }
	&.raw        { color: #aaa;     }
	&.raw.inline { color: @green;   }
}


/** Diffs/patches */
.diff{
	@deletion-bg: #ffecec;
	@deletion-fg: #bd2c00;
	@addition-bg: #eaffea;
	@addition-fg: #55a532;
	
	.line > &.source{
		color: #ccc;
	}
	
	&.meta{
		&.index,
		&.header.git,
		&.range.unified{
			font-weight: bold;
			color: #795da3;
		}
		
		&.separator{
			font-weight: bold;
			color: #1d3e81;
		}
		
		&.header.from-file{
			background: @deletion-bg !important;
			color:      @deletion-fg !important;
		}
		&.header.to-file{
			background: @addition-bg !important;
			color:      @addition-fg !important;
		}
	}
	
	&.markup{
		&.deleted,
		&.deleted > .deleted{
			background: @deletion-bg !important;
			color:      @deletion-fg !important;
		}
		
		&.inserted,
		&.inserted > .inserted{
			background: @addition-bg !important;
			color:      @addition-fg !important;
		}
	}
}


/** GitHub-flavoured Markdown */
.source.gfm{
	-webkit-font-smoothing: auto;

	.heading{
		color: #9ba257;
		
		> .marker{
			color: #acb556;
		}
	}
	

	/** Hyperlinks */
	.link{
		color: #00a;
		text-decoration: none;
		
		/** Displayed name */
		& > .entity{
			color: #00f;
		}
		
		& > .underline{
			text-decoration: underline;
			& > .punctuation{
				text-decoration: none;
			}
		}
	}
	
	/** Injected link */
	.markup.underline.link{
		text-decoration: underline;
	}
}


atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view{
	padding-left: 1px;
}


/** Hide wrapping guide */
.wrap-guide{
	display: none !important;
}


/** SQL */
.sql{
	.keyword    { color: #00c;      }
	.function   { color: #001eff;   }
	.numeric    { color: #a00;      }
}


/** C */
.c{
	.keyword, .any-method, .C99{
		color: #00c
	}
	
	&.preprocessor{
		
		&, .keyword{
			color: #a00;
		}
	}
}


/** CoffeeScript */
.coffee{
	.keyword > &,
	&.keyword,
	&.meta.function,
	&.entity.name,
	&.support.function{
		color: #00c
	}
}


/** Perl */
.perl{

	.keyword, .support, .constant{
		color: #00c;
	}

	.string,
	.string span{
		color: #f39 !important;
	}
	
	.string.q-ltgt{
		> .string.begin,
		> .string.end{
			color: #00c !important;
		}
	}

	&.variable{
		color: #906 !important;
	}

	.punctuation.definition.variable{
		color: inherit;
	}
}


/** Shell-scripts */
.shell{
	.function,
	.builtin,
	.control,
	.keyword{
		color: #00c;
	}

	.string:not(.dollar){
		&, & span{
			color: #f39 !important;
		}
		
		.variable.other,
		.variable.other span{
			color: #00c !important;
		}
	}
	
	.string.dollar{
		> .begin,
		> .end{
			color: inherit !important;
		}
	}

	.tilde,
	.punctuation.definition.variable{
		color: inherit;
	}
}



/** JSON */
.json{
	&.expected-dictionary-separator{
		background-color: transparent;
		color: inherit !important;
	}
}


/** Sigil Maps */
.sigil-map{
	&.meta.mapping &.string.unquoted{
		color: #f00;
	}
}


/** ApacheConf */
.toc-list.directory{
	color: #001eff;
}


/** Python */
.python{
	&.numeric,
	&.constant.numeric{
		color: #906;
	}

	&.keyword,
	&.function-call{
		color: #00c;
	}
}


/** reStructuredText */
.restructuredtext{
	&.punctuation{
		&.directive{ color: #00f; }
		&.separator{ color: #00a; }
	}
}


/** APL */
.apl{
	&.keyword,
	&.label{
		color: #00c;
	}
	
	&.string{
		color: #f39;
	}
	
	&.command,
	&.embedded{
		
		&.name{
			color: #f00;
			font-weight: bold;
		}
		
		.parameter{
			color: #f00;
		}
	}
	
	&.function.definition{
		color: #00f;
		
		.name{
			font-weight: bold;
		}
	}
	
	&.invalid{
		background: #f00 !important;
		color: #fff !important;
	}
}

/** Turing */
.turing{
	.function.entity.name,
	.support.class,
	.support.function{
		color: #00f;
	}
	
	.entity.field.name{
		color: #00c;
	}
	
	.keyword{
		color: #00f;
	}
	
	.string{
		color: #f00;
	}
}


/** MAXScript: MXS_Scintilla clone */
.maxscript{
	
	.comment{
		color: #007f00;
	}
	
	.numeric{
		color: #007f7f;
	}
	
	.string{
		color: #7f007f;
		
		&.verbatim{
			color: #007f00;
			background-color: #e0ffe0;
		}
		
		&.invalid{
			color: #000;
			background-color: #e0c0e0;
		}
	}
	
	.operator{
		color: #000;
		font-weight: bold;
	}
	
	.function{
		color: #3060a0;
	}
	
	.keyword,
	.storage.type.function,
	.storage.modifier.function{
		color: #00007f;
		font-weight: bold;
	}
	
	.rollout-control{
		color: #000;
		font-weight: bold;
	}
	
	.objectset{
		color: #d0b080;
		font-style: italic;
	}
}


/** Roff */
.roff{
	&.function{
		color: #00f;
	}
	
	&.italic .backslash{
		font-style: normal;
	}
	
	&.markup.bold,
	&.markup.italic{
		.string{
			color: inherit;
		}
	}
	
	.string{
		color: #f39;
	}
	
	.throughput{
		color: #aaf;
	}
	
	&.meta.definition{
		
		> .name{
			font-weight: bold;
		}
	}
}
