@import "syntax-variables";

atom-text-editor{
	background-color:   @syntax-background-color;
	color:              @syntax-text-color;

	.wrap-guide             { background-color: @syntax-wrap-guide-color;           }
	.indent-guide           { color:            @syntax-indent-guide-color;         }
	.invisible-character    { color:            @syntax-invisible-character-color;  }

	.gutter{
		background-color:   @syntax-gutter-background-color;
		color:              @syntax-gutter-text-color;

		.line-number{
			&.cursor-line{
				background-color:   @syntax-gutter-background-color-selected;
				color:              @syntax-gutter-text-color-selected;
			}

			&.cursor-line-no-selection{
				color: @syntax-gutter-text-color-selected;
			}
		}
	}

	.gutter .line-number.folded,
	.gutter .line-number:after,
	.fold-marker:after  { color: @light-gray;                         }
	.invisible          { color: @syntax-text-color;                  }
	.cursor             { color: @syntax-cursor-color;                }
	.selection .region  { background-color: @syntax-selection-color;  }
}


// Search markers
atom-text-editor .search-results .@{_}marker{
	.region{
		background-color: transparent;
		border: 1px solid #969896;
	}
	
	&.current-result .region{
		border: 1px solid #fff;
	}
} 



/** Code highlighting */
.@{_}comment,
.@{_}comment-ish              { color: #009a00;             }
.@{_}regexp, .@{_}regexp *    { color: #009a00 !important;  }
.@{_}entity.@{_}name.@{_}type { color: #003a9e;             }

.@{_}link, .@{_}underline{
	text-decoration: underline;
}



/** Generic function/keyword highlighting */
.@{_}source{
	&:not(.@{_}js):not(.@{_}apl):not(.@{_}c):not(.@{_}cpp):not(.@{_}turing){
		
		.@{_}support{  color: #00a; }
		.@{_}function{ color: #00c; }
		.@{_}keyword{  color: #00c; }
	}
}

.@{_}keyword{
	&.@{_}other.@{_}special-method  { color: @blue;   }
	&.@{_}other.@{_}important       { color: #ee000b; }
	&.@{_}js,   .@{_}js  > &        { color: #00c;    }
	&.@{_}php,  .@{_}php > &        { color: #009714; }
	&.@{_}operator                  { color: #0035ff; }
}


.@{_}storage:not(.@{_}apl){
	color: #00c;
	
	&.@{_}php, .@{_}php &{
		color: #009714;

		&.@{_}function,
		&.@{_}type{
			color: #24bf96;
		}
	}
}


.@{_}constant{
	&.@{_}other.@{_}color   { color: #0035ff;   }
	&.@{_}other.@{_}symbol  { color: @green;    }
	&.@{_}null              { color: #00c;      }
	&.@{_}boolean           { color: #00c;      }
	&.@{_}js.@{_}other      { color: #00c;      }
	.@{_}js > &.@{_}numeric { color: #369;      }
	.@{_}php, &.@{_}php     { color: #009714;   }
	
	&.@{_}lisp.@{_}other.@{_}symbol{
		color: #00c;
	}
}


.@{_}variable,
.@{_}constant{
	color: #00c;
	&.@{_}interpolation          { color: darken(@red, 10%);   }
	&.@{_}parameter.@{_}function { color: @syntax-text-color;  }
	&.@{_}php                    { color: #000;                }
	&.@{_}php.@{_}global,
	&.@{_}php.@{_}global > *     { color: #0092f2 !important;  }
}


.@{_}invalid{
	
	&.@{_}illegal{
		background-color: @red;
		color: @syntax-background-color !important;
	}
	
	&.@{_}deprecated{
		color: @red !important;
	}
	
	&.@{_}yaml.@{_}whitespace{
		background-color: inherit !important;
	}
}


.@{_}string:not(.@{_}shell){
	color: #001eff;

	&.@{_}js:not(.@{_}html),
	.@{_}js &:not(.@{_}html)   { color: #f39; }
	&.@{_}other.@{_}link       { color: @red; }
}


.@{_}punctuation{

	&.@{_}definition{
		&.@{_}comment                                 { color: #009a00;               }
		&.@{_}variable, &.@{_}parameters, &.@{_}array { color: @syntax-text-color;    }
		&.@{_}heading,  &.@{_}identity                { color: @blue;                 }
		&.@{_}bold{
			color: @light-orange;
			font-weight: bold;
		}

		&.@{_}italic{
			color: @purple;
			font-style: italic;
		}
		
		&.@{_}html.@{_}tag{
			color: #00359e;
		}
	}

	&.@{_}section.@{_}embedded{
		color: #f00 !important;
		font-weight: bold;
	}
}


.@{_}support{
	&.@{_}class,
	&.@{_}namespace{
		color: #00c;
	}

	&.@{_}css.@{_}function,
	.@{_}css &.@{_}function{
		color: #da29ff;

		&.@{_}any-method{
			color: @blue;
		}
	}


	&.@{_}php.@{_}function,
	.@{_}php &.@{_}function{
		color: #0035ff;

		&.@{_}construct{
			color: #009714;
		}
	}
}


.@{_}entity{
	&.@{_}name.@{_}section{
		color: @blue;
	}
	
	&.@{_}name.@{_}tag,
	&.@{_}other.@{_}attribute-name{
		color: #00359e;
	}
	
	&.@{_}css.@{_}other,
	&.@{_}css.@{_}other .@{_}attribute-name{
		color: #da29ff;
	}
}


.@{_}meta{
	&.@{_}class                              { color: #003a9e; }
	&.@{_}link                               { color: @orange; }
	&.@{_}require                            { color: @blue;   }
	&.@{_}selector,
	&.@{_}selector > .@{_}entity             { color: #da29ff; }
	&.@{_}tag .@{_}punctuation:not(.@{_}php) { color: #00359e; }

	&.@{_}separator{
		color: @syntax-text-color;
	}

	&.@{_}css{
		&.@{_}property-name             { color: #05208c; }
		&.@{_}property-value            { color: #0035ff; }
		&.@{_}property-list .@{_}end,
		&.@{_}property-list .@{_}begin,
		 .@{_}function.@{_}section      { color: #da29ff; }
		 .@{_}string, .@{_}string > *   { color: #106800 !important; }
		&.@{_}comment, & .@{_}comment   { color: #009a00 !important; }
	}

	/** Doctypes */
	&.@{_}sgml,
	&.@{_}sgml .@{_}punctuation{
		color: #c0c0c0 !important;
	}

	/** PHP string literals */
	&.@{_}php .@{_}string:not(.@{_}function){
		color: #e20000;
	}
}


/** JavaScript */
.@{_}js{
	&.@{_}punctuation.@{_}definition.@{_}parameters{
		&.@{_}begin,
		&.@{_}end{
			color: #00a;
		}
	}
	
	&.@{_}meta.@{_}function-call > .@{_}support.@{_}function.@{_}js{
		color: #00c;
	}
	
	&.@{_}support.@{_}function,
	&.@{_}entity.@{_}function.@{_}name{
		color: #00f;
	}
	
	.@{_}source.@{_}js.@{_}embedded.@{_}source{
		color: @syntax-text-color;
	}
}


/** Ruby */
.@{_}ruby{
	&.@{_}punctuation.@{_}section,
	&.@{_}punctuation.@{_}definition.@{_}variable,
	.@{_}punctuation.@{_}separator{
		color: #00c;
	}
	
	&.@{_}punctuation.@{_}definition.@{_}constant{
		color: inherit !important;
	}
}

/** CSS media queries */
.@{_}media{
	color: #430303;

	> .@{_}support.@{_}property-name { color: #05208c; }
	> .@{_}numeric.@{_}constant      { color: #0035ff; }
}

.@{_}none{
	color: @syntax-text-color;
}


.@{_}markup{
	&.@{_}bold       { color: @orange;  font-weight: bold;   }
	&.@{_}changed    { color: @purple;                       }
	&.@{_}deleted    { color: @red;                          }
	&.@{_}italic     { color: @purple;  font-style: italic;  }

	&.@{_}heading .@{_}punctuation.@{_}definition.@{_}heading{
		color: @blue;
	}

	&.@{_}inserted       { color: @green;   }
	&.@{_}list           { color: @red;     }
	&.@{_}quote          { color: @orange;  }
	&.@{_}raw            { color: #aaa;     }
	&.@{_}raw.@{_}inline { color: @green;   }
}


/** Diffs/patches */
.@{_}diff{
	@deletion-bg: #ffecec;
	@deletion-fg: #bd2c00;
	@addition-bg: #eaffea;
	@addition-fg: #55a532;
	
	.@{_}line > &.@{_}source{
		color: #ccc;
	}
	
	&.@{_}meta{
		&.@{_}index,
		&.@{_}header.@{_}git,
		&.@{_}range.@{_}unified{
			font-weight: bold;
			color: #795da3;
		}
		
		&.@{_}separator{
			font-weight: bold;
			color: #1d3e81;
		}
		
		&.@{_}header.@{_}from-file{
			background: @deletion-bg !important;
			color:      @deletion-fg !important;
		}
		&.@{_}header.@{_}to-file{
			background: @addition-bg !important;
			color:      @addition-fg !important;
		}
	}
	
	&.@{_}markup{
		&.@{_}deleted,
		&.@{_}deleted > .@{_}deleted{
			background: @deletion-bg !important;
			color:      @deletion-fg !important;
		}
		
		&.@{_}inserted,
		&.@{_}inserted > .@{_}inserted{
			background: @addition-bg !important;
			color:      @addition-fg !important;
		}
	}
}


/** GitHub-flavoured Markdown */
.@{_}source.@{_}gfm{
	-webkit-font-smoothing: auto;

	.@{_}heading{
		color: #9ba257;
		
		> .@{_}marker{
			color: #acb556;
		}
	}
	

	/** Hyperlinks */
	.@{_}link{
		color: #00a;
		text-decoration: none;
		
		/** Displayed name */
		& > .@{_}entity{
			color: #00f;
		}
		
		& > .@{_}underline{
			text-decoration: underline;
			& > .@{_}punctuation{
				text-decoration: none;
			}
		}
	}
	
	/** Injected link */
	.@{_}markup.@{_}underline.@{_}link{
		text-decoration: underline;
	}
	
	.@{_}markup.@{_}strike{
		text-decoration: line-through;
		opacity: .45;
	}
}


atom-text-editor[mini] .scroll-view{
	padding-left: 1px;
}


/** Hide wrapping guide */
.wrap-guide{
	display: none !important;
}


/** SQL */
.@{_}sql{
	.@{_}keyword    { color: #00c;      }
	.@{_}function   { color: #001eff;   }
	.@{_}numeric    { color: #a00;      }
}


/** C/C++ */
.@{_}c, .@{_}cpp{
	.@{_}keyword,
	.@{_}any-method,
	.@{_}C99{
		color: #00c
	}
	
	&.@{_}entity.@{_}name.@{_}function{
		color: #00f;
	}
	
	&.@{_}preprocessor{
		
		&, .@{_}keyword{
			color: #a00;
		}
	}
	
	&.@{_}punctuation.@{_}separator.@{_}pointer-access{
		color: #00f;
	}
}


/** CoffeeScript */
.@{_}coffee{
	.@{_}keyword > &,
	&.@{_}keyword,
	&.@{_}meta.@{_}function,
	&.@{_}entity.@{_}name,
	&.@{_}support.@{_}function{
		color: #00c
	}
}


/** Perl */
.@{_}perl{

	.@{_}keyword,
	.@{_}support,
	.@{_}constant{
		color: #00c;
	}

	.@{_}string,
	.@{_}string > *{
		color: #f39 !important;
		
		&.@{_}variable,
		&.@{_}escape{
			color: #00c !important;
		}
		
		&.@{_}comment-ish{
			color: #090 !important;
		}
	}
	
	.@{_}string.@{_}q-ltgt{
		> .@{_}string.@{_}begin,
		> .@{_}string.@{_}end{
			color: #00c !important;
		}
	}

	&.@{_}variable{
		color: #906 !important;
	}

	.@{_}punctuation.@{_}definition.@{_}variable{
		color: inherit;
	}
}


/** Shell-scripts */
.@{_}shell{
	.@{_}function,
	.@{_}builtin,
	.@{_}control,
	.@{_}keyword{
		color: #00c;
	}

	.@{_}string:not(.@{_}dollar){
		&, & span{
			color: #f39 !important;
		}
		
		.@{_}variable.@{_}other,
		.@{_}variable.@{_}other span{
			color: #00c !important;
		}
	}
	
	.@{_}string.@{_}dollar{
		> .@{_}begin,
		> .@{_}end{
			color: inherit !important;
		}
	}

	.@{_}tilde,
	.@{_}punctuation.@{_}definition.@{_}variable{
		color: inherit;
	}
}



/** ApacheConf */
.@{_}toc-list.@{_}directory{
	color: #001eff;
}


/** Python */
.@{_}python{
	&.@{_}numeric,
	&.@{_}constant.@{_}numeric{
		color: #906;
	}

	&.@{_}keyword,
	&.@{_}function-call{
		color: #00c;
	}
}


/** reStructuredText */
.@{_}restructuredtext{
	&.@{_}punctuation{
		&.@{_}directive{ color: #00f; }
		&.@{_}separator{ color: #00a; }
		&.@{_}table{  color: #81a2be; }
		&.@{_}heading{ color: #009a00 !important; }
	}
}


/** TextMate-compatible grammar */
.@{_}tmcg{
	&.@{_}variable.@{_}other,
	&.@{_}variable.@{_}assignment{
		&, & .@{_}punctuation{
			color: #bf4040;
		}
	}
}


/** APL */
.@{_}apl{
	&.@{_}keyword,
	&.@{_}label{
		color: #00c;
	}
	
	&.@{_}string{
		color: #f39;
	}
	
	&.@{_}command,
	&.@{_}embedded{
		
		&.@{_}name{
			color: #f00;
			font-weight: bold;
		}
		
		.@{_}parameter{
			color: #f00;
		}
	}
	
	&.@{_}function.@{_}definition{
		color: #00f;
		
		.@{_}name{
			font-weight: bold;
		}
	}
	
	&.@{_}invalid{
		background: #f00 !important;
		color: #fff !important;
	}
}

/** Turing */
.@{_}turing{
	.@{_}function.@{_}entity.@{_}name,
	.@{_}support.@{_}class,
	.@{_}support.@{_}function{
		color: #00f;
	}
	
	.@{_}entity.@{_}field.@{_}name{
		color: #00c;
	}
	
	.@{_}keyword{
		color: #00f;
	}
	
	.@{_}string{
		color: #f00;
	}
}


/** MAXScript: MXS_Scintilla clone */
.@{_}maxscript{
	
	.@{_}comment{
		color: #007f00;
	}
	
	.@{_}numeric{
		color: #007f7f;
	}
	
	.@{_}string{
		color: #7f007f;
		
		&.@{_}verbatim{
			color: #007f00;
			background-color: #e0ffe0;
		}
		
		&.@{_}invalid{
			color: #000;
			background-color: #e0c0e0;
		}
	}
	
	.@{_}operator{
		color: #000;
		font-weight: bold;
	}
	
	.@{_}function{
		color: #3060a0;
	}
	
	.@{_}keyword,
	.@{_}storage.@{_}type.@{_}function,
	.@{_}storage.@{_}modifier.@{_}function{
		color: #00007f;
		font-weight: bold;
	}
	
	.@{_}rollout-control{
		color: #000;
		font-weight: bold;
	}
	
	.@{_}objectset{
		color: #d0b080;
		font-style: italic;
	}
}


/** Roff and its preprocessors */
.@{_}roff, .@{_}pic, .@{_}ideal{
	&.@{_}function{
		color: #00f;
	}
	
	&.@{_}italic .@{_}backslash{
		font-style: normal;
	}
	
	&.@{_}markup.@{_}bold,
	&.@{_}markup.@{_}italic{
		.@{_}string{
			color: inherit;
		}
	}
	
	.@{_}string{
		color: #f39;
	}
	
	.@{_}throughput{
		color: #aaf;
	}
	
	&.@{_}meta.@{_}definition{
		
		> .@{_}name{
			font-weight: bold;
		}
	}
	
	&.@{_}punctuation.@{_}definition.@{_}concealed.@{_}escape.@{_}backslash{
		opacity: .25;
	}
}


/** RUNOFF */
.@{_}runoff{
	&.@{_}function,
	&.@{_}keyword{
		color: #00f;
	}
	
	&.@{_}storage{
		color: #00a;
	}
}
