@import "./base.less";
@import "./typography.less";

/** Stop cursor from blinking. S/O to https://discuss.atom.io/t/blinking-cursor/1544/22 */
atom-text-editor.is-focused .cursors .cursor{
	opacity: 1;
}

/** Bracket-matcher highlights */
.bracket-matcher .region{
	background: lime;
	outline: 1px solid #0a0;
	
	/** Hide bracket-matching pairs unless requested */
	.scroll-view:not(.show-bracket-matcher) &{
		visibility: hidden;
	}
}


/** Debugging highlights for language-grammar development */
.@{_}test-1, .@{_}test1{ background: #f00 !important; &.@{_}faded{ background: fade(#f00, 25%) !important; }}
.@{_}test-2, .@{_}test2{ background: #0e0 !important; &.@{_}faded{ background: fade(#0e0, 25%) !important; }}
.@{_}test-3, .@{_}test3{ background: #6cf !important; &.@{_}faded{ background: fade(#6cf, 25%) !important; }}

.@{_}box:not(.@{_}roff):not(.@{_}request){
	outline: 1px solid #ccc;
	
	&.@{_}test-1, .@{_}test1,
	&.@{_}test-2, .@{_}test2,
	&.@{_}test-3, .@{_}test3{
		outline-color: #000;
	}
	
	&.@{_}faded{
		opacity: .25;
	}
}

.@{_}source.@{_}regexp:not(.@{_}js),
.@{_}source.@{_}regexp:not(.@{_}js) :not(.@{_}comment),
.@{_}tmcg .@{_}source.@{_}regexp,
.@{_}tmcg .@{_}regexp,
.@{_}tmcg .@{_}regexp :not(.@{_}comment):not(.@{_}hyperlink){
	color: #001eff !important;
}
