@_: syntax--;

/* OpenType features */
atom-text-editor{
	font-variant-ligatures: contextual;
}

/* Bunched double-slashes */
.@{_}comment.@{_}line.@{_}double-slash > .@{_}punctuation.@{_}definition.@{_}comment{
	font-variant-ligatures: discretionary-ligatures;
}

/* Haskell compound operators */
.@{_}haskell.@{_}keyword{
	font-variant-ligatures: discretionary-ligatures;
}

/* APL */
.@{_}apl.@{_}spaced.@{_}keyword{
	font-feature-settings: "ss01";
}

/* Disable ligatures */
.@{_}string.@{_}double.@{_}quoted.@{_}coffee{
	font-variant-ligatures: none;
}
