# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson


# Display
body:
	"cmd-alt-w":      "window:toggle-invisibles"
	"shift-cmd-W":    "editor:toggle-soft-wrap"
	"cmd-alt-0":      "user:reset-font-size"
	"cmd-k up":       "unset!"
	"cmd-k right":    "unset!"
	"cmd-k left":     "unset!"
	"cmd-k down":     "unset!"
	"cmd-m":          "user:make"
	
	# Disable MRU-tab switching
	"ctrl-tab":       "pane:show-next-item"
	"ctrl-tab ^ctrl": "unset!"
	"ctrl-shift-tab": "pane:show-previous-item"
	"ctrl-shift-tab ^ctrl": "unset!"


# Navigation
"atom-workspace atom-text-editor:not(.mini)":
	"cmd-g":          "go-to-line:toggle"
	"cmd-[":          "git-diff:move-to-previous-diff"
	"cmd-]":          "git-diff:move-to-next-diff"

".platform-darwin":
	"cmd-0":          "tree-view:toggle"
	"cmd-|":          "minimap:toggle"
	"shift-cmd-O":    "application:open-dev"
	"shift-cmd-R":    "window:reload"
	"ctrl-shift-R":   "window:run-package-specs"
	"ctrl-alt-cmd-l": "unset!"
	"cmd-p":          "unset!"
	"shift-cmd-B":    "user:toggle-bracket-matcher"
	
".platform-darwin .tree-view":
	"cmd-1":          "unset!"
	"cmd-2":          "unset!"
	"cmd-3":          "unset!"
	"cmd-4":          "unset!"
	"cmd-5":          "unset!"
	"cmd-6":          "unset!"
	"cmd-7":          "unset!"
	"cmd-8":          "unset!"
	"cmd-9":          "unset!"

"atom-text-editor":
	"cmd-l":          "grammar-selector:show"
	"alt-f":          "unset!"

# Editing
"atom-text-editor:not([mini])":
	"cmd-d":          "editor:delete-line"
	"alt-up":         "editor:move-line-up"
	"alt-down":       "editor:move-line-down"
	"cmd-alt-up":     "editor:duplicate-lines"
	"ctrl-w":         "whitespace:convert-spaces-to-tabs"
	"cmd-p":          "unset!" # For temporary commands


# Character transformation
".platform-darwin atom-text-editor":
	"cmd-shift-U":    "editor:upper-case"
	"cmd-u":          "editor:lower-case"
	"cmd-r":          "unset!"


# Find and replace
".platform-darwin .find-and-replace":
	"cmd-r":          "find-and-replace:toggle-regex-option"


# Dev/Temp
"atom-workspace":
	"shift-cmd-C":    "file-icons:toggle-colours"
	"shift-cmd-M":    "file-icons:toggle-changed-only"
	"alt-shift-T":    "file-icons:toggle-tab-icons"
	"alt-o":          "file-icons:debug-outlines"
	"alt-c":          "file-icons:recompile-config"
	"ctrl-f":         "file-icons:open-settings"
	
	"alt-f":          "user:toggle-faded-tokens"
