"body, .platform-darwin":
	"cmd-\\":         "user:toggle-sidebar"
	"alt-cmd-\\":     "tree-view:toggle"
	"shift-cmd-O":    "application:open-dev"
	"shift-cmd-R":    "window:reload"
	"alt-shift-W":    "window:close"
	"ctrl-shift-R":   "window:run-package-specs"
	"shift-cmd-B":    "user:toggle-bracket-matcher"
	
	"cmd-alt-w":      "window:toggle-invisibles"
	"shift-cmd-W":    "editor:toggle-soft-wrap"
	"cmd-0":          "user:zoom-text"
	"cmd-k up":       "unset!"
	"cmd-k right":    "unset!"
	"cmd-k left":     "unset!"
	"cmd-k down":     "unset!"
	"cmd-p":          "unset!"
	"cmd-m":          "unset!"
	"ctrl-alt-cmd-l": "unset!"
	
	# Disable MRU-tab switching
	"ctrl-tab":       "pane:show-next-item"
	"ctrl-tab ^ctrl": "unset!"
	"ctrl-shift-tab": "pane:show-previous-item"
	"ctrl-shift-tab ^ctrl": "unset!"

"atom-workspace":
	"shift-cmd-C":    "file-icons:toggle-colours"
	"alt-o":          "file-icons:show-outlines"
	"cmd-p":          "user:temp-1"

"atom-text-editor":
	"ctrl-u":         "lines:unique"
	"cmd-g":          "go-to-line:toggle"
	"cmd-l":          "grammar-selector:show"
	"cmd-[":          "git-diff:move-to-previous-diff"
	"cmd-]":          "git-diff:move-to-next-diff"
	"cmd-shift-U":    "editor:upper-case"
	"cmd-u":          "editor:lower-case"
	"cmd-d":          "editor:delete-line"
	"alt-up":         "editor:move-line-up"
	"alt-down":       "editor:move-line-down"
	"cmd-alt-up":     "editor:duplicate-lines"
	"ctrl-w":         "user:unfuck-tabstops"
	"shift-cmd-e":    "user:specsaver"
	"cmd-r":          "unset!"

"atom-text-editor[data-grammar='source js']":
	"{":              "user:dollar-wrap"
	"enter":          "user:jsdoc-newline"

"atom-text-editor[data-grammar='source css']":
	"cmd-p":          "user:eval-css"

"atom-text-editor[data-grammar='source emacs lisp']":
	"cmd-p":          "language-emacs-lisp:run-selection"

".find-and-replace, .project-find":
	"cmd-r":          "find-and-replace:toggle-regex-option"
	"shift-cmd-c":    "find-and-replace:toggle-case-option"

".tree-view":
	"cmd-1":          "unset!"
	"cmd-2":          "unset!"
	"cmd-3":          "unset!"
	"cmd-4":          "unset!"
	"cmd-5":          "unset!"
	"cmd-6":          "unset!"
	"cmd-7":          "unset!"
	"cmd-8":          "unset!"
	"cmd-9":          "unset!"
