Snippets:
	title: "Snippets"
	devMode: true
	paths: [
		"/Users/johngardner/Labs/Snippets"
	]
"phoenix-syntax":
	title: "@Atom Theme"
	devMode: true
	paths: [
		"/Users/johngardner/Labs/Atom-PhoenixTheme"
	]
".files":
	title: ".files"
	devMode: true
	paths: [
		"/Users/johngardner/.files"
	]
"G:":
	title: "G:"
	devMode: true
	paths: [
		"/Users/johngardner/VirtualBox/Shared"
	]
"language-maxscript":
	title: "language-maxscript"
	paths: [
		"/Users/johngardner/Labs/language-maxscript"
	]
Tables:
	title: "Tables"
	paths: [
		"/Users/johngardner/Labs/Tables"
	]
"language-apl":
	title: "language-apl"
	paths: [
		"/Users/johngardner/Labs/language-apl"
	]
"language-roff":
	title: "language-roff"
	devMode: true
	paths: [
		"/Users/johngardner/Labs/language-roff"
	]
"language-emacs-lisp":
	title: "language-emacs-lisp"
	devMode: true
	paths: [
		"/Users/johngardner/Labs/language-emacs-lisp"
		"/Users/johngardner/Documents/Code-related/emacs-lisp"
	]
"file-icons":
	title: "file-icons"
	paths: [
		"/Users/johngardner/.atom/packages/file-icons"
	]
	devMode: true
"language-viml":
	title: "language-viml"
	devMode: true
	paths: [
		"/Users/johngardner/.atom/packages/language-viml"
	]
reStructuredText:
	title: "reStructuredText"
	devMode: true
	paths: [
		"/Users/johngardner/.atom/packages/language-restructuredtext"
	]
"TMCG-Spec":
	title: "TMCG-Spec"
	devMode: true
	paths: [
		"/Users/johngardner/Labs/TMCG-Spec"
	]
