[
	{
		title: "@Atom Theme"
		paths: [
			"/Users/johngardner/Labs/Atom-PhoenixTheme"
		]
		devMode: true
	}
	{
		title: "Snippets"
		paths: [
			"/Users/johngardner/Labs/Snippets"
		]
		devMode: true
	}
	{
		title: ".files"
		paths: [
			"/Users/johngardner/.files"
		]
		devMode: true
	}
	{
		title: "language-apl"
		paths: [
			"/Users/johngardner/Labs/language-apl"
		]
		devMode: true
	}
	{
		title: "language-roff"
		paths: [
			"/Users/johngardner/Labs/language-roff"
		]
		devMode: true
	}
	{
		title: "language-emacs-lisp"
		paths: [
			"/Users/johngardner/Labs/language-emacs-lisp"
			"/Users/johngardner/Documents/Code-related/emacs-lisp"
		]
		devMode: true
	}
	{
		title: "file-icons"
		paths: [
			"/Users/johngardner/Labs/file-icons"
		]
		devMode: true
	}
	{
		title: "language-viml"
		paths: [
			"/Users/johngardner/.atom/packages/language-viml"
		]
		devMode: true
	}
	{
		title: "reStructuredText"
		paths: [
			"/Users/johngardner/.atom/packages/language-restructuredtext"
		]
		devMode: true
	}
	{
		title: "File"
		paths: [
			"/Users/johngardner/Mirrors/File"
		]
		devMode: true
	}
	{
		title: "TMCG"
		paths: [
			"/Users/johngardner/Labs/TMCG"
		]
		devMode: true
	}
	{
		title: "MagicECMAScript"
		paths: [
			"/Users/johngardner/Labs/MagicECMAScript"
			"/Users/johngardner/Forks/Atom/JS"
			"/Users/johngardner/Labs/file-icons"
		]
		icon: "js-icon"
		devMode: true
	}
]
