/** Get rid of that distracting... wobble-thing */
atom-notification.remove{
	-webkit-animation-duration: 0ms !important;
}

.perl-icon::before{
	content: "\E669";
	font-size: 15px;
	font-family: Devicons;
	top: 2px;
}
